<!--sidebar-->
<div class="sidebar-container">
    <h6>Tags</h6>
    <p class="mb-1"><%- list_tags(site.tags, {class: 'tag', show_count: false, style: false}) %></p>
</div>
<div class="sidebar-container">
    <h6>Categories</h6>
    <%- list_categories(site.categories, {class: 'category', show_count: false, style: "list"}) %>
</div>